/*

* Override Pages default styles or create your own styles here

*/
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  color: #FAFAFA;
}

.page-container {
  padding-left: 0;
}

.home {
  .logo-img {
    margin-top: 20vh;
    max-width: 50vw;
  }

  .title-img {
    max-width: 70vw;
  }

  img {
    margin: 0 auto;
  }
}

.village {
  background: url('/src/assets/village/bg.png') center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;

  .village-header {
    color: #FAFAFA;
    padding: 10px;
    font-size: 16px;
  }

  .village-npc {
    position: absolute;
    bottom: 0;
    left: 30px;
  }

  .village-buttons {
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 180px;

    .village-button {
      background-color: #2B6A94;
      list-style: none;
      margin-bottom: 20px;
      padding: 5px;
      border-radius: 30px 0 0 30px;

      a {
        font-size: 16px;
        color: #FAFAFA;
        width: 100%;
      }
    }
  }

  .village-services {
    position: absolute;
    left: 0;
    top: 100px;
    width: 130px;

    .village-service {
      background-color: #2B6A94;
      list-style: none;
      margin-bottom: 20px;
      padding: 5px;
      border-radius: 0 30px 30px 0;

      a {
        font-size: 16px;
        color: #FAFAFA;
        width: 100%;
      }
    }
  }

  .village-book {
    width: 30px;
    height: 30px;
    background: #3C93CE url("../village/book.png") center center no-repeat;
    background-size: 80%;
    border-radius: 100%;
  }

  .store {
    width: 300px;
    position: absolute;
    right: 0;
    top: 130px;
    height: 240px;
    overflow: auto;

    .land-item {
      background-color: #2B6A94;
      padding: 10px 0;
      margin-bottom: 10px;
      color: #FAFAFA;
      font-size: 20px;
    }
  }
}

.back-btn {
  width: 30px;
  height: 30px;
  background: url("../village/previous.png") center center no-repeat;
  background-size: cover;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
