/*

* Override Pages default styles or create your own styles here

*/
.footer {
  color: #fff;
}
.page-container {
  padding-left: 0;
}
.home {
  margin-top: 20vh;
}
.home .logo-img {
  max-width: 50vw;
}
.home .title-img {
  max-width: 70vw;
}
.home img {
  margin: 0 auto;
}
