/*

* Override Pages default styles or create your own styles here

*/
.footer {
  color: #FAFAFA;
}
.page-container {
  padding-left: 0;
}
.home .logo-img {
  margin-top: 20vh;
  max-width: 50vw;
}
.home .title-img {
  max-width: 70vw;
}
.home img {
  margin: 0 auto;
}
.village {
  background: url('/src/assets/village/bg.png') center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.village .village-header {
  color: #FAFAFA;
  padding: 10px;
  font-size: 16px;
}
.village .village-npc {
  position: absolute;
  bottom: 0;
  left: 30px;
}
.village .village-buttons {
  position: absolute;
  right: 0;
  bottom: 50px;
}
.village .village-buttons .village-button {
  background-color: #2B6A94;
  list-style: none;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 30px 0 0 30px;
}
.village .village-buttons .village-button a {
  font-size: 16px;
  color: #FAFAFA;
}
.village .village-book {
  width: 30px;
  height: 30px;
  background: #3C93CE url(../village/book.png) center center no-repeat;
  background-size: 80%;
  border-radius: 100%;
}
